<!doctype html>
<html ng-app="codola_editor">
<head>

    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoDoLa</title>

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
    <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>

    <!-- ACE and its JavaScript mode and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>

    <!-- Firepad -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.css"/>
    <script src="https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-sanitize.js"></script>

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload-process.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload-validate.js"></script>
    <!-- The File Upload Angular JS module -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload-angular.js"></script>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/css/jquery.fileupload.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/css/jquery.fileupload-ui.css">

    <script src="pdf/build/pdf.js"></script>
    <script src="codola.js"></script>

    <link href="css/rdash.css" rel="stylesheet">
    <link rel="stylesheet" href="codola.css"/>
</head>

<body class="hamburg">

<div id="page-wrapper" class="open">

    <!-- Sidebar -->

    <div id="sidebar-wrapper" ng-controller="FirepadController">
        <div class="sidebar-main">

            <input ng-model="searchText" class="form-control searchField" placeholder="File filter">
            <label><input type="checkbox" ng-model="filterFiles"/> Hide temporary files</label>
        </div>
        <ul class="sidebar">
            <li ng-if="file.directory || showFile(file.name)"
                class="sidebar-title {{file.directory ? 'sidebar-dir' : ''}} {{currentFile==file.name ? 'active' : ''}}"
                ng-repeat="file in files">
                <a onclick="$(this).parent().toggleClass('open');" ng-if="file.directory">
                    <span ng-if="file.symlink" class="glyphicon glyphicon-share-alt"
                          aria-hidden="true">{{file.name}}</span>
                    <span ng-if="!file.symlink" class="glyphicon glyphicon-directory"
                          aria-hidden="true">{{file.name}}</span>
                </a>
                <ul ng-if="file.directory" ng-repeat="subfile in file.subelements">
                    <li ng-if="!subfile.directory && showFile(subfile.name)"
                        class="{{currentFile==file.name+'/'+subfile.name ? 'active' : ''}}">
                        <a ng-click="loadFile(file.name+'/'+subfile.name)"><span class="glyphicon glyphicon-file"
                                                                                 aria-hidden="true"></span>{{subfile.name}}</a>
                    </li>
                </ul>
                <a ng-if="!file.directory" ng-click="loadFile(file.name)">
                    <span class="glyphicon {{file.mainFile ? 'glyphicon-book' : 'glyphicon-file'}}"
                          aria-hidden="true"></span>{{file.name}}</a>
            </li>
            <li class="sidebar-title"><span></span></li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <button type="button" class="btn btn-sm pull-right" data-toggle="modal"
                        data-target="#fileuploadDialog">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true" title="Upload file"></span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-default btn-sm pull-right  btn-success" data-toggle="modal"
                        data-target="#createFileDialog">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" title="Create new file"></span>
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-default btn-sm pull-right  btn-danger" data-toggle="modal"
                        data-target="#deleteFileDialog">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete file"></span>
                </button>
            </div>
        </div>

        <div class="modal fade" id="showLog" tabindex="-1" role="dialog" aria-labelledby="showLogLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="showLogLabel">Current log file</h4>
                    </div>
                    <div class="modal-body" ng-bind-html="log">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="deleteFileDialog" tabindex="-1" role="dialog" aria-labelledby="deleteFileLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteFileLabel">Delete file</h4>
                    </div>
                    <div class="modal-body">
                       Are you sure, you want to remove the file <b>{{currentFile}}</b>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default btn-success" data-dismiss="modal" ng-click="removeFile();">Yes</button>
                    </div>
                </div>
            </div>
            </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper" class="fullheight" ng-controller="NavigationController">
        <div class="page-content fullheight">

            <!-- Header Bar -->

            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div >
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#showLog">
                                Show log
                            </button>
                            <button type="button" class="btn btn-default btn-default" ng-click="refresh()">
                                <i class="glyphicon glyphicon-save-file"></i>
                                <span>Refresh document</span></button>
                            <button type="button" class="btn btn-default btn-default" data-toggle="modal"
                                data-target="#pushDialog">
                            <i class="glyphicon glyphicon-save-file"></i>
                            <span>Push</span></button>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Edit
                        </div>
                        <div class="breadcrumb-links">
                             </div>
                    </div>
                </div>
            </div>

            <!-- End Header Bar -->

            <!-- Main Content -->
            <div class="row mainrow">
                <div class="col-xs-8 fullheight">
                    <div class="widget fullheight">
                        <div id="editor" class="fullheight"></div>
                    </div>
                </div>
                <div class="col-xs-4 widget fullheight">
                    <div id="preview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="previewLabel" ng-controller="PreviewController">
                        <iframe id="pdfcanvas" src="{{previewData}}"></iframe>
                    </div>
                </div>
            </div>
            <!-- End Page Content -->

        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- End Page Wrapper -->

</div>
<div class="modal fade" id="createFileDialog" tabindex="-1" role="dialog" aria-labelledby="createFileLabel" aria-hidden="true" ng-controller="CreateController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createFileLabel">Create file</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="path" placeholder="Relative path" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="filename" placeholder="File name" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-success" data-dismiss="modal" ng-click="createFile();">Create</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="pushDialog" tabindex="-1" role="dialog" aria-labelledby="pushDialogLabel" aria-hidden="true" ng-controller="PushController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="pushDialogLabel">Push work</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea rows="4" style="width:100%;" ng-model="message" placeholder="Commit message" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-success" data-dismiss="modal" ng-click="push();">Push</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fileuploadDialog" tabindex="-1" role="dialog" aria-labelledby="fileuploadLabel"
     aria-hidden="true" ng-controller="UploadController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="fileuploadLabel">Upload files</h4>
            </div>
            <div class="modal-body">
                <!-- The file upload form used as target for the file upload widget -->
                <form id="fileupload" action="rest/file" method="POST" enctype="multipart/form-data"
                      data-file-upload="options"
                      data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-12">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple ng-disabled="disabled"/>
                </span>
                            <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <div class="fade" data-ng-class="{in: active()}">
                            <div class="progress progress-striped active"
                                 data-file-upload-progress="progress()">
                                <div class="progress-bar progress-bar-success"
                                     data-ng-style="{width: num + '%'}"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table class="table table-striped files ng-cloak">
                        <tr data-ng-repeat="file in queue"
                            data-ng-class="{'processing': file.$processing()}">
                            <td>
                                <p class="name" >
                                    <span>{{file.name}}</span>
                                </p>
                                <strong data-ng-show="file.error"
                                        class="error text-danger">{{file.error}}</strong>
                            </td>
                            <td>
                                <p class="size">{{file.size | formatFileSize}}</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning cancel pull-right"
                                        data-ng-click="file.$cancel()"
                                        data-ng-hide="!file.$cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>